html {
	cursor:none;
	cursor: url('cursor1.png'), auto;
}


body {
	background-color:black;
	background-repeat:no-repeat;
	padding: 0px;
}



.column {
	width: auto;
	height: 100vh;
}

.page .column {
	height: 100vh;
}

#logo-i-social {
	display: flex;
}

#logo-holder {
	flex-grow: 1;
	padding-top:5px;
	padding-left:5px;
	padding-bottom:5px;
}

#social-holder {
	flex-grow: 1;
	text-align: right;
}


#logo {
	transition: all 0.3s;
}
#logo:hover {
	cursor: url('cursor2.png'), auto;
	transform: scale(1.3);
}


#ig {
	padding-top:5px;
	padding-right:5px;
	margin:5px;
	transition: all 0.3s;
}
#ig:hover {
	cursor: url('cursor2.png'), auto;
	transform: scale(1.3);
}




#twitter {
	padding-top:5px;
	margin:5px;
	transition: all 0.3s;
}
#twitter:hover {
	cursor: url('cursor2.png'), auto;
	transform: scale(1.3);
}





#fb {
	padding-top:5px;
	margin:5px;
	transition: all 0.3s;
}
#fb:hover {
	cursor: url('cursor2.png'), auto;
	transform: scale(1.3);
}




#yt {
	padding-top:5px;
	margin:5px;
	transition: all 0.3s;
}
#yt:hover {
	cursor: url('cursor2.png'), auto;
	transform: scale(1.3);
}


#tt {
	padding-top:5px;
	margin:5px;
	transition: all 0.3s;
}
#tt:hover {
	cursor: url('cursor2.png'), auto;
	transform: scale(1.3);
}





#main-menu {
	display: flex;
}

#main-menu a {
	flex-grow: 1;
	text-align: center;
	display: block;
	border: 1px solid rgb(11, 85, 222);
	padding: 10px 0;
	text-decoration: none;
	color:rgb(11, 85, 222);
	font: 1000 1rem sans-serif;
	transition: all 450ms;
}

#main-menu a:hover {
	color:black;
	background:rgb(11, 85, 222);
	cursor: url('cursor2.png'), auto;
}


#body-title {
	flex-grow: 1;
	text-align: center;
	color:rgb(0, 89, 255);
	font: 1000 1rem sans-serif;
}


#pocetna {
	background-image:url('bcbg2.png');
	background-size: cover;
	background-attachment: fixed;
	color:rgb(15, 109, 231);
}

#pocetna h1 {
	font-size: 48px;
	margin-top: 0px;
	padding-top: 50px;
}

.dark-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgb(6, 29, 73, 0.205);
	border: 5px solid rgb(15, 109, 231);
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	font-size: 17pt;
	transition: all 0.3s;
}

.dark-box:hover {
	transform: scale(1.2);
}
  
.dark-box p {
	max-width: 100%;
  }

.column iframe {
	transition: all 0.3s;
	opacity: 50%;
	margin: 0 auto;
	display: flex;
}

.column iframe:hover {
	transform: scale(1.2);
}


#o-bugattiju {
	background-image:url('bcbg3.png');
	background-size: cover;
	background-attachment: fixed;
}

#vrste {
	background-image:url('bcbg4.png');
	background-size: cover;
	background-attachment: fixed;
}

#proizvodi {
	background-image:url('bcbg5.png');
	background-size: cover;
	background-attachment: fixed;
}

#karijera {
	background-image:url('bcbg6.png');
	background-size: cover;
	background-attachment: fixed;
}

#kontakt {
	background-image:url('bcbg7.png');
	background-size: cover;
	background-attachment: fixed;
}

#klijenti {
	background-image:url('bcbg8.png');
	background-size: cover;
	background-attachment: fixed;
}

#struktura {
	background-image:url('bcbg9.png');
	background-size: cover;
	background-attachment: fixed;
}

.footer {
	background-image:url('bcbg11.png');
	background-size: cover;
	background-attachment: fixed;
}


#main-menu a.active {
	color:black;
	background:rgb(11, 85, 222);
}

.align-center {
	text-align:center;
	color: rgb(15, 109, 231);
}

.krugovi {
	display: flex;
	margin: 40px 0;
}

.krug-holder {
	flex-grow: 1;
	text-align: center;
}

.krug {
	background: rgb(15, 109, 231);
	color:rgb(20, 40, 255);
	font-size: 32px;
	font-weight: bold;
	width: 250px;
	height: 250px;
	display: inline-block;
	border-radius: 100%;
	line-height: 7.5;
}

.oznaka {
	font-size: 24px;
	font-weight: bold;
	color: rgb(15, 109, 231);
}

.dark-box2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgb(6, 29, 73, 0.205);
	border: 5px solid rgb(15, 109, 231);
	width: 50%;
	max-width: 500px;
	margin: 10px auto;
	padding: 10px;
	font-size: 14pt;
	transition: all 0.3s;
}

.dark-box2:hover {
	transform: scale(1.2);
}
  
.dark-box2 p {
	max-width: 100%;
  }

.gume {
	display: flex;
  	justify-content: center;
 	align-items: center;
  	gap: 0px; 
	flex-wrap: wrap;
	margin-left: 45px;
}

.guma {
	align-items: center;
	flex-grow: 1;
	width: 200px;
}

.guma img {
	width: 55px;
	height: 55px;
}

.guma p {
	font-weight: bold;
}

.plava {
	color: rgb(15, 109, 231);
}

#vrste h2 {
	padding-top: 20px;
}

.vrste-bugattija {
	display: flex;
	margin-bottom: 60px;
	justify-content: space-evenly;
}

.vrste-bugattija > div {
	text-align: center;
	position: relative;
	width: 300px;
	height: 150px;
	margin-bottom: 50px;
}

.vrste-bugattija img {
	width: 350px;
	height: 200px;
}

.vrste-bugattija > div > img {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.vrste-bugattija > div > p {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 22px;
	background-color: rgba(6, 29, 73, 0.41);
	border: 3px solid rgb(15, 109, 231);
	width: 100%;
	margin-bottom: -50px;
	font-weight: bold;
}
